[tools]
"go:golang.org/x/pkgsite/cmd/pkgsite" = "latest"
go = "latest"
gofumpt = "latest"
goreleaser = "latest"

[tasks.build]
description = "Build binary"
sources = ["**/*.go", "go.mod", "go.sum"]
outputs = ["mtg"]
run = "go build"
